 <footer class="footer">
       <img src="../assets/Logo/BlancComplet.png" alt="EcoGestUM Logo" class="footer-logo" />
        
        <div class="acess">
            <p>Accès rapides</p>
            <div class="links">
                <a href="#">Site de l'université</a>
                <a href="#">Notre politique de recyclage</a>
                <a href="#">Nos événements</a>
                <a href="#">Se déconnecter</a>
            </div>
        </div>

        <div class="legals">
            <a href="#">Accessibilité : non conforme</a>
            <a href="#">Données personnelles</a>
            <a href="#">Mentions légales</a>
            <a href="#">Plan du site</a>
        </div>
    </footer>