
.banner {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: #dbeafe;
    display: flex;
    flex-direction: column-reverse;
}
.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.5);
}
.banner-text {
    position: relative;
    background: rgba(255,255,255,0.52);
    border-radius: 10px;
    width: 40%;
    top: 60px;
    left: 60px;
    display: inline-block;
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 100px;
    overflow : hidden;
}