@font-face{
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Regular.ttf');
    font-weight : normal;
}

@font-face{
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Bold.ttf');
    font-weight : bold;
}

@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
}

*{
    margin: 0;
    font-family: 'Luciole','Montserrat', 'Arial';
}

section:nth-of-type(2n){
    background: url('../backgroundlight.png') center/cover repeat;
}

section:nth-of-type(2n+1){
    background: url('../backgrounddark2.png') center/cover repeat;
}

section:nth-of-type(2n) h2{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 2.6rem;
    color : #2d386d;
}

section:nth-of-type(2n+1) h2{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 2.6rem;
    color : #fff;
}