.gestion{
    padding: 100px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap:80px;
}

.gestion h2{
    margin-left : 60px;
}

.gestion .content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gestion .buttons{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
}

.gestion img{
    border-radius: 2rem;
    height: 260px;
    width: auto;
}

.gestion .btnMesObjets {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.7em 2em;
    background-color: #d4451b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
    box-shadow: 0 2px 5px rgba(34, 70, 99, 0.06);
    margin-top: 1em;
    border: 2px solid #d4451b;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    text-align: center;
}
.gestion .btnMesObjets:hover {
    background: #f7cabc;
    color: #2d386d;
    border: 2px solid #f47952;
}

.gestion .btnMesReservations {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.7em 2em;
    background-color: #ffffff;
    color: #d4451b;
    text-decoration: none;
    border-radius: 22px;
    box-shadow: 0 2px 5px rgba(34, 70, 99, 0.06);
    margin-top: 1em;
    border: 2px solid #ffffff;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    text-align: center;
}
.gestion .btnMesReservations:hover {
    background: #f7cabc;
    color: #2d386d;
    border: 2px solid #f47952;
}