.welcome{
    background: url('../backgrounddark2.png') center/cover repeat;
    padding: 20px;
    padding-left: 40px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color : #ffffff;
}