.points-collecte-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* Titre */
.points-collecte-container h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: #1b2450;
    font-weight: 800;
}

/* Zone du contenu */
.PCcontent {
    width: 100%;
    min-height: 620px; /* IMPORTANT pour Leaflet */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Boutons */
.toggle-buttons {
    margin-bottom: 15px;
}

.toggle-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border: 1px solid #333;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.toggle-buttons button:hover {
    background-color: #e0e0e0;
}

/* --- LA CARTE --- */
#map {
    width: 100%;        /* prend 100% du conteneur */
    max-width: 1000px;  /* limite la largeur */
    height: 500px;      /* hauteur fixe */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}