@font-face{
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Regular.ttf');
}

@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
}

*{
    margin: 0;
    font-family: 'Luciole','Montserrat', 'Arial';
}