footer{
    background-color: #040823;
    color: #FFFFFF;
    align-items: center;
}
.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 3%;
}